/* Main stylings*/
h1, h2, p {
    text-align: center;
  }

  body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  
  .menu {
    background-color:burlywood;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    max-width: 500px;
  }

  .flavor, .desserts {
    text-align:left;
    width: 50%;
  }

  .price {
    text-align: right;
    width: 50%;
  }

  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
   }

   .established {
    font-style: italic;
  }

  hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
  }

  /* Style img */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
  }

  /* FOOTER */
  footer {
    font-size: 14px;
  }

  .address {
    margin-bottom: 5px;
  }

   /* Styling font for h1 & h2 only, different from body */
   h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
   
   /* Setting font-size individually for elements h1 & h2 */
   h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }

  /* Styling the second hr element */
  .bottom-line {
    margin-top: 25px;
  }

  a {
    color: black;
  }
  
/* pseudo-selectors */

  a:visited {
    color: black;
  }

  a:hover {
    color: white;
  }

  a:active {
    color: rgba(237, 126, 29, 0.984);
  }